.main-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    flex: 1;
}

.text-input,
.long-text-input {
    width: 100%;
    background-color: #333;
    border: 1px solid #444;
    color: #e0e0e0;
    padding: 0.6rem;
    border-radius: 6px;
}

.text-input:focus,
.long-text-input:focus {
    outline: none;
    border-color: #4caf50;
}

.footer {
    margin-top: 3rem;
    background-color: #2b2b2b;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.footer-logo {
    width: 100px;
}

.footer-image {
    width: 100%;
    justify-content: center;
    display: flex;
}

.owner-sign {
    color: #9e9e9e;
    font-size: 0.8rem;
    text-align: center;
}
/* 
@media (max-width: 1080px) {
    .user-identification {
        width: 15rem;
    }
} */