* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
}

h1 {
    font-size: 1.8rem;
}

h3,
h4 {
    font-weight: normal;
    color: #9e9e9e;
}