* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
}

h1 {
    font-size: 1.8rem;
}

h3,
h4 {
    font-weight: normal;
    color: #9e9e9e;
}

.icon-style {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.size-adjust-full-content {
    width: 100%;
}

.size-height-30 {
    height: 30px;
}

.plus-icon {
    background-image: url("/icons/plus.svg");
}

