.adjust-complete-width-component {
    width: 100%;
}

.invite-users-container {
    border: solid #555;
    min-height: 500px;
    padding: 30px;
}

.input-add-invitation {
    display: flex;
    flex-direction: row;
    height: 45px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-group {
    font-size: 16px;
}

.select-user-role {
    height: 100%;
    background-color: #3c3c3c;
    color: #e0e0e0;
    border-color: transparent;
    font-size: 16px;
}

.show-new-collaborators-mail {
    height: 200px;
    width: 100%;
    border: #444 solid 1px;
    padding: 10px;
    background-color: #3c3c3c;
}

.mail-input {
    width: 100%;
    height: 100%;
    background-color: #3c3c3c;
    border-width: 0;
}

.size-10 {
    width: 10%;
}

.add-invitation-button {
    background-color: #4caf50;
    border-radius: 0;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 4px;
}

.add-invitation-button:hover {
    background-color: #43a047;
}

.add-invitation-button:active {
    background-color: #255527;
}

.ipnut-container-color {
    background-color: #3c3c3c;
}

input {
    background-color: #333;
    border: 1px solid #444;
    color: #e0e0e0;
    padding: 0.6rem;
    border-radius: 4px;
}

input:focus {
    outline: none;
    border-color: #4caf50;
}

input::placeholder {
    font-size: 16px;
}