body {
    margin: 0;
    overflow: hidden;
    min-height: 900px;
}

h2 {
    font-size: 50px;
}

span {
    font-size: 20px;
}

p {
    font-size: 20px;
}

tr {
    height: 65px;
}

td p {
    max-width: 100%;
    font-size: 16px;
    overflow-wrap: break-word;
}

th {
    max-width: 100%;
    font-size: 16px;
}

/* ---------- Layout ---------- */

.project-info {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1.5rem;
}

.project-header {
    flex-shrink: 0;
    text-align: center;
}

.project-content {
    flex: 1;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    overflow: hidden;
}

/* ---------- Columnas ---------- */

.left-content-section {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.center-content-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: auto;
    padding-right: .5rem;
}

.border-content-section {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    background: #333;
    border-radius: 15px;    
    width: 100%;
    overflow: hidden;
}

.right-container {
    max-height: 640px;
}

/* ---------- Imagen ---------- */

.project-image-container {
    display: flex;
    justify-content: center;
    background: #333;
    border-radius: 15px;
}

.project-image {
    width: 250px;
    height: 250px;
    margin: 15px;
    border-radius: 50%;
    object-fit: cover;
}

/* ---------- Descripción ---------- */

.project-description {
    padding: 1rem;
    border-radius: 15px;
    background: #333;
    text-align: justify;
}

/* ---------- Miembros ---------- */

.project-members {
    background: #333;
    border-radius: 15px;
    overflow: hidden;
}

.members-space {
    max-height: calc(65px * 5);
    overflow-y: hidden;
    padding: 5px;
}

/* ---------- Tabla ---------- */

.user-members {
    width: 100%;
    height: calc(65px * 5);
    border-collapse: collapse;
}

.user-members thead {
    height: 65px;
    font-size: 18px;
    width: 100%;
}

.user-members tbody {
    display: block;
    width: 100%;
    max-height: calc(65px * 4);
    overflow-y: scroll;
}

.user-members thead tr,
.user-members tbody tr {
    display: table;
    width: 100%;
    height: 65px;
    table-layout: fixed;
}

.user-members th,
.user-members td {
    box-sizing: border-box;
}

.table-body {
    max-height: calc(65px * 6);
    overflow-y: auto;
}

.name-field {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    line-height: 1.2;
    max-height: 2.4em;
}

.content-center {
    text-align: center;
    vertical-align: middle;
}

.content-justify {
    text-align: justify;
    vertical-align: middle;
    padding: 5px;
}

.action-content,
.content-image {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.user-info-row {
    height: 50px;
    cursor: pointer;
    transition: .2s;
    background-color: #444;
    border: 1px solid #3c3c3b;
}

.user-info-row:hover {
    background: #222;
}

.user-info-row:active {
    background: #111;
}

/* ---------- Iconos ---------- */

.action-edit-icon,
.action-delete-icon,
.action-download-icon,
.action-cancel-icon,
.action-close-icon,
.action-close-icon-short {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.action-edit-icon,
.action-delete-icon,
.action-download-icon,
.action-cancel-icon {
    width: 20px;
    height: 20px;
}

.action-close-icon-short {
    width: 25px;
    height: 25px;
}


.action-close-icon {
    width: 40px;
    height: 40px;
}

.action-edit-icon {
    background-image: url("/icons/pen.svg");
}

.action-delete-icon {
    background-image: url("/icons/trash.svg");
}

.action-download-icon {
    background-image: url("/icons/download.svg");
}

.action-cancel-icon {
    background-image: url("/icons/ban.svg");
}

.action-close-icon,
.action-close-icon-short {
    background-image: url("/icons/xmark.svg");
}

/* ---------- Panel archivos ---------- */

.actions-header {
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    flex-shrink: 0;
}

.files-list {
    flex: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    background: #4c4c4c;
}

.file-element-list {
    height: 60px;
    border-radius: 15px;
    margin: 1vh;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.filename-container {
    flex: 1;
}

/* ---------- Botón ---------- */

.add-element-button {
    height: 50px;
    border: none;
    background: #555;
    color: white;
    transition: .2s;
}

.add-element-button:hover {
    background: #444;
}

.add-element-button:active {
    background: white;
    color: #444;
}

.action-edit-icon:hover,
.action-delete-icon:hover,
.action-download-icon:hover,
.action-cancel-icon:hover,
.action-close-icon:hover,
.action-close-icon-short:hover {
    background-color: #444;
}

.action-edit-icon:active,
.action-delete-icon:active,
.action-download-icon:active,
.action-cancel-icon:active,
.action-close-icon:active,
.action-close-icon-short:hover {
    background-color: #555;
}

/* ---------- Responsive ---------- */

@media (max-width: 1200px) {

    body {
        overflow-y: auto;
    }

    .project-content {
        flex-direction: column;
        overflow: visible;
    }

    .left-content-section,
    .center-content-section,
    .right-content-section {
        flex: none;
        width: 100%;
    }

    .right-content-section {
        min-height: 400px;
    }

    .right-container {
        min-height: 400px;
    }


    /* --------------------------------- */
}

@media (max-height: 1000px) {

    body {
        overflow-y: scroll;
        min-height: auto;
    }

    p {
        font-size: 14px;
    }

    tr {
        height: 65px;
    }

    td p {
        max-width: 85px;
        font-size: 12px;
        overflow-wrap: break-word;
    }

    th {
        max-width: 120px;
        font-size: 12px;
    }

    .user-members thead {
        height: 40px;
        font-size: 14px;
        width: 100%;
    }

    .user-members tbody {
        display: block;
        width: 100%;
        max-height: 325px;
        overflow-y: auto;
    }

    .user-members thead tr,
    .user-members tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .user-members th,
    .user-members td {
        box-sizing: border-box;
    }

    .table-body {
        max-height: calc(65px * 6);
        overflow-y: auto;
    }

    .name-field {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
        line-height: 1.2;
        max-height: 2.4em;
    }

    .project-header > h2 {
        font-size: 30px;
    }

    .project-description > p {
        font-size: 14px;
    }

    .project-image {
        width: 150px;
        height: 150px;
    }

    .right-container {
        max-height: 950px;
    }

    .left-container {
        min-height: 50px;
    }

    .add-element-button {
        height: 50px;
    }

    .file-element-list {
        height: 45px;
        margin: 3px;
    }

    .user-members {
        width: 100%;
        border-collapse: collapse;
    }

    .members-space {
        min-height: calc(65px * 6);
        width: 100%;
        padding: 0;
    }

    .user-info-row {
        height: 65px;
    }

    .file-list {
        max-height: 100%;
    }

    .right-content-section,
    .right-container {
        min-height: 400px;
    }

    .center-content-section {
        width: 100%;
    }

    .project-content {
        width: 100%;
        margin-bottom: 10px;
    }

    .project-members {
        height: auto;
        overflow: hidden;
    }

    .border-content-section {
        flex: none;
    }
}